<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title> Battle! </title>
  </head>

  <body>
    <div class="main">
      <h1> Battle Time! </h1>
      <form action="/names" method="post">
        Player 1: <input type="text" name="player1"><br>
        Player 2: <input type="text" name="player2"><br><br>
        <input class="button" type="submit" value="Start">
      </form>
    </div>

    <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/YourCountryNeedsYou.jpg">
    </div>
  </body>

</html>
