<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <title> Battle! </title>
</head>
<body>
  <div class="main">
<form action="/names" method="post">
  <input type="text" name="player1">
  <input type="text" name="player2">
  <input class="button" type="submit" value="Start">
</form>
</div>
</body>
</html>
